# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# MLflow
mlruns/
mlflow.db

# Metrics
metrics/

# Checkpoints
checkpoints/

# Streamlit
.streamlit/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db